<form class="form-contenedor" [formGroup]="playerForm[0]"
    *ngFor="let campo of campos[0];">

    <mat-form-field *ngIf="campo.esCadena" class="form-campo"
        appearance="fill">
        <mat-label class="form-etiqueta" for="campo.name">
            {{ namesByCampo('viewName', campo.name) }}
        </mat-label>
        <input class="form-input" matInput id={{campo.name}}
            formControlName="{{campo.name}}"
            placeholder="{{ campo.sugerencia }}"
            (input)="onInput($event)"
            (blur)="updateErrorMessage()" />

        @if (playerForm[0].get(campo.name)?.invalid) {
        <mat-error>{{errorMessage[campo.name]()}}</mat-error>
        }
        <mat-hint align="end">{{value[campo.name]().length}}/255</mat-hint>

    </mat-form-field>

    <mat-form-field *ngIf="campo.esNumero_mediano"
        class="form-campo-numero" appearance="fill">
        <mat-label class="form-etiqueta" for="campo.name"> {{
            namesByCampo('viewName', campo.name) }}</mat-label>
        <input matInput type="number" id={{campo.name}}
            formControlName="{{campo.name}}"
            (input)="onInput($event)"
            (blur)="updateErrorMessage()"
            placeholder="{{ campo.sugerencia }}" />
        @if (playerForm[0].get(campo.name)?.invalid) {
        <mat-error>{{errorMessage[campo.name]()}}</mat-error>
        }
        <mat-hint align="end">{{campo.minVal}}-{{campo.maxVal}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="campo.esUnico" class="form-campo-select"
        appearance="fill">
        <mat-label class="form-etiqueta" for="campo.name"> {{
            namesByCampo('viewName', campo.name) }}
        </mat-label>
        <mat-select class="form-select" id={{campo.name}}
            formControlName="{{campo.name}}"
            (blur)="updateErrorMessage()">
            <mat-option
                *ngFor="let opcion of opciones[campo.name];"
                value="opcion.codigo">{{ opcion.view }}
            </mat-option>
        </mat-select>
        @if (playerForm[0].get(campo.name)?.invalid) {
        <mat-error>{{errorMessage[campo.name]()}}</mat-error>
        }
        <mat-hint align="end">Menú Desplegable ^</mat-hint>
    </mat-form-field>

</form>

<form class="form-contenedor" [formGroup]="playerForm[0]"
    *ngFor="let campo of campos[1];">

    <mat-form-field *ngIf="campo.esCadena" class="form-campo"
        appearance="fill">
        <mat-label class="form-etiqueta" for="campo.name">
            {{ namesByCampo('viewName', campo.name) }}
        </mat-label>
        <input class="form-input" matInput id={{campo.name}}
            formControlName="{{campo.name}}"
            placeholder="{{ campo.sugerencia }}"
            (blur)="updateErrorMessage()"
            (input)="onInput($event)" />

        @if (playerForm[0].get(campo.name)?.invalid) {
        <mat-error>{{errorMessage[campo.name]()}}</mat-error>
        }
        <mat-hint align="end">{{value[campo.name]().length}}/255</mat-hint>

    </mat-form-field>

    <mat-form-field *ngIf="campo.esNumero_mediano"
        class="form-campo-numero" appearance="fill">
        <mat-label class="form-etiqueta" for="campo.name"> {{
            namesByCampo('viewName', campo.name) }}</mat-label>
        <input matInput type="number" id={{campo.name}}
            formControlName="{{campo.name}}"
            (blur)="updateErrorMessage()"
            (input)="onInput($event)"
            placeholder="{{ campo.sugerencia }}" />
        @if (playerForm[0].get(campo.name)?.invalid) {
        <mat-error>{{errorMessage[campo.name]()}}</mat-error>
        }
        <mat-hint align="end">{{campo.minVal}}-{{campo.maxVal}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="campo.esUnico" class="form-campo-select"
        appearance="fill">
        <mat-label class="form-etiqueta" for="campo.name"> {{
            namesByCampo('viewName', campo.name) }}
        </mat-label>
        <mat-select class="form-select" id={{campo.name}}
            formControlName="{{campo.name}}"
            (blur)="updateErrorMessage()">
            <mat-option
                *ngFor="let opcion of opciones[campo.name];"
                value="opcion.codigo">{{ opcion.view }}
            </mat-option>
        </mat-select>
        @if (playerForm[0].get(campo.name)?.invalid) {
        <mat-error>{{errorMessage[campo.name]()}}</mat-error>
        }
        <mat-hint align="end">Menú Desplegable ^</mat-hint>
    </mat-form-field>

    <mat-slider *ngIf="campo.esNumero_pequenio" min={{campo.minVal}}
        max={{campo.maxVal}} showTickMarks
        discrete>
        <mat-label class="form-etiqueta" for="campo.name">
            {{ namesByCampo('viewName', campo.name) }}
        </mat-label>
        <input matSliderThumb>
    </mat-slider>

    <mat-form-field *ngIf="campo.esMoneda" class="form-campo-numero"
        appearance="fill"
        floatLabel="always">
        <mat-label for="campo.name"> {{ namesByCampo('viewName', campo.name)
            }}</mat-label>
        <input class="form-campo-euro" matInput type="number" id={{campo.name}}
            formControlName="{{campo.name}}"
            (blur)="updateErrorMessage()"
            placeholder="{{ campo.sugerencia }}" />
        <span matTextPrefix>€&nbsp;</span>
        <span matTextSuffix>.00</span>
        @if (playerForm[0].get(campo.name)?.invalid) {
        <mat-error>{{errorMessage[campo.name]()}}</mat-error>
        }
        <mat-hint align="end">{{campo.minVal}}-{{campo.maxVal}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="campo.esMultiple" class="form-campo-multiselect"
        appearance="fill">
        <mat-label class="form-etiqueta" for="campo.name"> {{
            namesByCampo('viewName', campo.name)
            }}
        </mat-label>
        <mat-select class="form-select" id={{campo.name}}
            formControlName="{{campo.name}}"
            multiple
            (blur)="updateErrorMessage()">
            <mat-option
                *ngFor="let opcion of opciones[campo.name];"
                value="opcion.codigo">{{ opcion.view }}
            </mat-option>
            <!-- <mat-option *ngFor="let position of jugadorPositions"
                value="{{ position.codigo }}">
                {{ position.view }}
            </mat-option> -->
        </mat-select>
        @if (playerForm[0].get(campo.name)?.invalid) {
        <mat-error>{{errorMessage[campo.name]()}}</mat-error>
        }
        <mat-hint align="end">Menú Desplegable ^</mat-hint>
    </mat-form-field>

</form>
