
.contenido {
   height: 800px;
   max-height: 800px;
   width: 800px;
   max-width: 800px;
  //  align-items: center;
  //  align-content: center;
  //  background-color: #22e710; 
   text-align: center;
   place-items: baseline;
}

