<!-- <section>
    <button outline-button (click)="newFiltro()" type="button">Agregar
        Filtro</button>
</section> -->

<button *ngIf="lista" mat-fab class="floating-button"
    (click)="agregarPersona()">
    <!-- <mat-icon class="material-icons-outlined">person_add</mat-icon> -->
    <mat-icon>person_add</mat-icon>
</button>

<div *ngIf="lista" class="filtro">

    <button (click)="addFiltro()"> + Filtro </button>

    <button (click)="descargar()">
        Exportar a Excel - CSV
    </button>

    <app-filtro *ngFor="let filtroView of this.filtros">
        {{ filtroView }}
    </app-filtro>

    <button *ngIf="this.filtros.length > 0" (click)="aplicarFiltro()"> Aplicar
        Filtro </button>

</div>

<!-- <div *ngIf="lista">
    <app-jugadores-tabla></app-jugadores-tabla>
</div> -->

<div *ngIf="lista">
    <app-jugadores-tabla
        (jugadorId_EE)="recibirJugadorId($event)"></app-jugadores-tabla>
</div>

<div *ngIf="!lista">
    <app-agregar-persona
        [jugadorId_INPUT]="jugadorId"
        (mostrar_formulario)="cerrar_formulario()">
    </app-agregar-persona>
</div>
