<!-- <section>
    <button outline-button (click)="newFiltro()" type="button">Agregar
        Filtro</button>
</section> -->

<div>
    <button (click)="agregarPersona()">
        <i class="material-icons-outlined">person_add</i>
    </button>
</div>
<div *ngIf="lista" class="filtro">

    <button (click)="addFiltro()"> + Filtro </button>

    <app-filtro *ngFor="let filtroView of this.filtros">
        {{ filtroView }}
    </app-filtro>

    <button *ngIf="this.filtros.length > 0" (click)="aplicarFiltro()"> Aplicar
        Filtro </button>

</div>

<!-- <div *ngIf="lista">
    <app-jugadores-tabla></app-jugadores-tabla>
</div> -->

<div *ngIf="lista">
    <app-jugadores-tabla
        (jugadorId_EE)="recibirJugadorId($event)"></app-jugadores-tabla>
</div>

<div *ngIf="!lista">
    <app-agregar-persona
        [jugadorId_INPUT]="jugadorId">
    </app-agregar-persona>
</div>
