#filtros {
    align-items: center;
    margin: 30px 30px;
    padding: 10px;
}

section {
    margin-left: 50px;
    display: block;
    width: 100%;
    align-items: center;
    align-content: center;
}

div {
    margin: 20px;
}


