<!-- <section>
    <button outline-button (click)="newFiltro()" type="button">Agregar
        Filtro</button>
</section> -->
<section class="filtro">
    <!-- <app-filtro *ngFor="let field of fields"
        [atributo]="field.atributo"
        [tipo]="field.tipo">
    </app-filtro> -->

    <app-filtro (valorNumero)="recibirValor($event)"
        [n_filtro]="1"></app-filtro>

</section>
<section>
    <!-- <p>Valor recibido del hijo: {{ valorNumeroRecibido }}</p> -->
    <app-jugadores-tabla
        [valor]="valorNumeroRecibido"></app-jugadores-tabla>
</section>
<!-- <section>
    <h2>Filtrar Jugadores</h2>

    <form> -->
<!-- <section class="fields">
        <label *ngFor="let field of fields"> {{ field.atributo }} </label>

    </section> -->
<!-- <div>
            <select>
                <option *ngFor="let field of fields" [value]="field.atributo">
                    {{ field.atributo }}
                </option>
            </select>
        </div> -->
<!-- <div class="nombre_apellido">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
    </div>

    <div class="posicion">
        <label>Posición del jugador:</label>
        <input type="checkbox" id="posicion_st" name="posicion[]"
            value="st"> Striker
        <input type="checkbox" id="posicion_cb" name="posicion[]" value="cb">
        Cornerback
        <input type="checkbox" id="posicion_rb" name="posicion[]"
            value="rb"> Running back -->
<!-- rw right wing forward  -->
<!-- cf center forward  -->
<!-- lw right wing forward  -->

<!-- cam Central Attacking Midfielder -->

<!-- rm right midfielder  -->
<!-- cm Central/Box-to-Box Midfielder -->
<!-- lm left midfielder -->

<!-- rw left wing -->
<!-- cdm Central Defensive Midfielder -->
<!-- lw left wing -->

<!-- rb right back -->
<!-- cb Center Back -->
<!-- lb left back -->

<!-- gk Goalkeeper -->

<!-- </div>
    <div class="edad">
        <label for="edad">Rango de edad:</label>
        <input type="number" id="edad_min" name="edad_min" placeholder="Mínimo">
        <input type="number" id="edad_max" name="edad_max" placeholder="Máximo">
    </div> -->

<!-- <button type="submit" outline-button>Buscar</button>
    </form>

    <div id="resultados"></div>
</section> -->