<div class="filtro">
    <!-- <input type="checkbox" [formControl]="isEnabled" id="{{ n_filtro }}"
        name="filtro_{{ n_filtro}}"
        value="st"> -->

    <button (click)="removeFiltro()"
        id="{{ filtro.id }}  ">- Filtro</button>

    <!-- <select [(ngModel)]="selectedOption" [disabled]="!isEnabled.value" -->
    <select [(ngModel)]="selectedOption"
        (change)="onOptionSelected(selectedOption)">
        <option>Seleccione un Filtro</option>
        <option *ngFor="let field of fields" [ngValue]="field">
            {{ field.viewName }}
        </option>
    </select>
    <!-- <input *ngIf="inputString" [disabled]="!isEnabled.value" type="text" -->
    <input *ngIf="inputString" type="text"
        id="valor_{{ filtro.id }} "
        name="valor" placeholder="texto">

    <!-- <input *ngIf="inputNumber" [disabled]="!isEnabled.value" type="number" -->
    <input *ngIf="inputNumber" type="number"
        id="valor_min_{{ filtro.id }}" name="valor_min" placeholder="número">

    <!-- (input)="devolverNumero($event)"> -->

    <input *ngIf="inputNumber" type="number"
        id="valor_max_{{ filtro.id}}" name="valor_max" placeholder="Máximo">
</div>