<div class="filtro">
    <input type="checkbox" [formControl]="isEnabled" id="{{ n_filtro }}"
        name="filtro_{{ n_filtro}}"
        value="st">

    <select [(ngModel)]="selectedOption" [disabled]="!isEnabled.value"
        (change)="onOptionSelected(selectedOption)">
        <option>Seleccione un Filtro</option>
        <option *ngFor="let field of fields" [ngValue]="field">
            {{ field.atributo }}
        </option>
    </select>

    <input *ngIf="inputString" [disabled]="!isEnabled.value" type="text"
        id="nombre_{{ n_filtro}} "
        name="nombre" placeholder="texto">

    <input *ngIf="inputNumber" [disabled]="!isEnabled.value" type="number"
        id="valor{{ n_filtro}}" name="valor" placeholder="número"
        (input)="devolverNumero($event)">

    <!-- <input *ngIf="inputNumber" [disabled]="!isEnabled.value" type="number"
        id="edad_max_{{ n_filtro}}" name="edad_max" placeholder="Máximo"> -->

</div>