<div>
    <table mat-table [dataSource]="jugadores" class="mat-elevation-z8 tabla"
        matSort (matSortChange)="announceSortChange($event)"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container
            *ngFor="let item of keyObjectArray; let i = index;"
            matColumnDef="{{ item.codigo
            }}">
            <div>
                <div *ngIf="fieldsOrderByGroup[i].esUrl">
                    <th mat-header-cell *matHeaderCellDef cdkDrag> {{
                        keyObjectArray[i].view
                        }}
                    </th>
                </div>
                <div *ngIf="!fieldsOrderByGroup[i].esUrl">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        cdkDrag>
                        {{
                        keyObjectArray[i].view
                        }}
                    </th>
                </div>
                <div *ngIf="fieldsOrderByGroup[i].esUrl">
                    <td mat-cell
                        *matCellDef="let row">
                        <div [matMenuTriggerFor]="rowMenu"
                            #contextMenu="matMenuTrigger"
                            (click)="onTriggerClick(fieldsOrderByGroup[i], row, $event)">

                            <img src="{{ row[item.codigo] }}"
                                alt="{{ row[item.codigo] }}">

                        </div>
                    </td>
                </div>
                <div *ngIf="!fieldsOrderByGroup[i].esUrl">
                    <td mat-cell *matCellDef="let row">
                        <div [matMenuTriggerFor]="rowMenu"
                            #contextMenu="matMenuTrigger"
                            (click)="onTriggerClick(fieldsOrderByGroup[i], row, $event)">
                            {{ row[item.codigo]
                            }}
                        </div>
                    </td>
                </div>
            </div>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">

        </tr>
    </table>

    <mat-paginator #paginator
        class="paginator"
        (page)="handlePageEvent($event)"
        [length]="paginator.length"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="paginator.pageIndex"
        aria-label="Select page"
        showFirstLastButtons>
    </mat-paginator>

    <!-- <mat-menu #rowMenu="matMenu" xPosition="after"
        style="z-index: 1000;">
        <button mat-menu-item
            (click)="editarItem(selectedRow)">Editar</button>
        <button mat-menu-item
            (click)="eliminarItem(selectedRow)">Eliminar</button>
    </mat-menu> -->

</div>
<!-- <div [style.position]="'fixed'" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" style="z-index: 1001;"> -->
<mat-menu #rowMenu="matMenu" xPosition="after">
    <!-- <button mat-menu-item
        (click)="agregarJugador(selectedRow)"
        (contextmenu)="onContextMenu($event)">
        <mat-icon>add</mat-icon>
        <span>Agregar Jugador</span> -->
    <!-- </button> -->
    <button mat-menu-item
        (click)="editarJugador(selectedRow)"
        (contextmenu)="onContextMenu($event)">
        <mat-icon>edit</mat-icon>
        <span>Editar Jugador</span>
    </button>
    <!-- <button mat-menu-item
        (click)="eliminarJugador(selectedRow)"
        (contextmenu)="onContextMenu($event)">
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
    </button> -->
    <button mat-menu-item
        (click)="verHabilidades(selectedRow)"
        (contextmenu)="onContextMenu($event)">
        <mat-icon>visibility</mat-icon>
        <span>Gráfico de Habilidades</span>
    </button>
    <button
        *ngIf="selectedCell?.esSkill || (selectedCell?.esNumeroPequenio && selectedCell?.type === 'integer')"
        mat-menu-item
        (click)="verLineaTiempo(selectedRow)"
        (contextmenu)="onContextMenu($event)">
        <mat-icon>timeline</mat-icon>
        <span>Línea de Tiempo {{ selectedCell?.viewName }}
        </span>
    </button>
</mat-menu>
<!-- </div> -->
